<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/dashboard" class="al-logo clearfix"><span>FeedbackApp</span></a>
  <ul class="menu">
    <li>
      <a i18n href="#">Menu</a>
    </li>
    <li>
      <a i18n href="#">Dashboard</a>
    </li>
  </ul>
  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <span>Hello, ivopashov@abv.bg</span>
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><i class="dropdown-arr"></i></li>
        <li class="dropdown-item"><a i18n [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-user"></i>Profile</a></li>
        <li class="dropdown-item" (click)="logout()"><a href class="signout" i18n><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
  </div>
</div>
