<div class="panel panel-info register-form">
  <div class="panel-heading">Forgot Password</div>
  <div class="panel-body">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
      <div class="form-group">
        <label i18n class="control-label">Please enter you email</label>
      </div>
      <div class="form-group" [ngClass]="{'has-error':!forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched}">
        <div class="input-group">
          <span class="input-group-addon" >@</span>
          <input class="form-control" type="text" placeholder="email" [formControl]="forgotPasswordForm.controls['email']">
        </div>
        <div i18n class="alert alert-danger" *ngIf="!forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].errors.required">You must enter email.</div>
        <div i18n class="alert alert-danger" *ngIf="!forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].errors.pattern">Invalid Email.</div>
      </div>
      <div class="form-group">
        <button i18n type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
