<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Reviewed Items</h3>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        Шопска салата
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        Пица "Маргарита"
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6"></div>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        Вратна пържола
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6"></div>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    </div>
  </div>
</div>
