<div class="container-fluid">
  <h1>Review Component</h1>
  <!--<h2>Menu Service</h2>-->
  <!--<div *ngFor="let product of productList?.items">{{product.title}}</div>-->
  <div class="row">
    <div class="col-md-3 hidden-xs hidden-sm">
      <categories-pane></categories-pane>
    </div>
    <div class="col-md-6 col-xs-6">
      <auto-complete></auto-complete>
      <menu-items></menu-items>
    </div>
    <div class="col-md-3 col-xs-6">
      <review-details></review-details>
    </div>
  </div>
</div>
